header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
	width:100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header_part {
	background: url('images/concert.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.header_part h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.header_part p {
    font-size: 1.2em;
}

.btn {
    background-color: #ffcc00;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #e6b800;
}

.tickets {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.ticket {
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
    text-align: center;
}

.ticket img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.ticket button {
    background-color: #007FFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
}

.ticket button:hover {
    background-color: #0056b3;
}
.sell-ticket {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}

.sell-ticket h2 {
    margin-bottom: 15px;
}

.sell-ticket form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell-ticket label {
    font-weight: bold;
    margin-top: 10px;
}

.sell-ticket input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sell-ticket button {
    background-color: #028A0F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    font-size: 1em;
    margin-top: 10px;
}

.sell-ticket button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    margin: 5px;
} 
